body{
    font-family: "Itim", cursive;
    font-weight: 400;
    background: radial-gradient(rgb(158, 255, 218),rgb(245, 200, 255),rgb(230, 245, 149))
}
.wedpage{
    color: rgb(51, 58, 65);
}
.section1 p{
    color: rgb(51, 58, 65);
}
.section2 p{
    color: rgb(51, 58, 65);
}
.section3 p{
    color: rgb(51, 58, 65);
}
.section4 {
}
.section5 {
    color: rgb(51, 58, 65);
}
.table{
    text-align: center;
    width:100%;
    color: rgb(51, 58, 65);
}
.a1{
    background-color: rgb(255, 194, 228);
}
.a2{
    background-color: rgb(194, 246, 255);
}
.a3{
    background-color: rgb(255, 194, 228);
}
.a4{
    background-color: rgb(194, 246, 255);
}
.a5{
    background-color: rgb(255, 194, 228);
}
.a6{
    background-color: rgb(194, 246, 255);
}
.a7{
    background-color: rgb(255, 194, 228);
}